<li id="following_users-<%= following_users.id %>">
  <%= link_to gravatar_for(following_users, size: 50), following_users %>
  <span class="user"><%= link_to following_users.name, following_users %></span>
</li>